# dependencies
node_modules
.pnp
.pnp.js

# compiled output
build
dist
out
*.tsbuildinfo
.eslintcache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
coverage
.nyc_output
.lighthouseci/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Bundle artifact
*.jsbundle

# CocoaPods
Pods

# Env
.env*
!.env.dist

# React
react-app-env.d.ts

#JSCPD
report

#typeorm
ormconfig.json
ormconfig.js

# webpack
.build_cache

# partytown
packages/site/public/~partytown

# turbo
.turbo

# yarn 2
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# nextjs
.vercel
next-env.d.ts
.next/
out/
.vscode

# playwright
playwright-report/
playwright/.cache/

# tsc
trace

# wdio
junit/
junit.xml

# expo
.expo
android
ios
*.apk
*.aab
google-service-account.json
asc_api_key.p8
